.sidebar {
  background-color: rgba(244, 247, 246, 1);
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  transition: 0.3s;
  padding-top: 60px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.toggle-btn {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  left: 10px;
  top: 10px;
}

.sidebar.open {
  left: 0;
}
